/* Rooms.css */
.rooms-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}

    .rooms-container h2 {
        color: #004b87;
        margin-bottom: 20px;
    }

.error-message {
    color: #ff4d4d;
    font-weight: bold;
}

.rooms-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

    .rooms-list ul {
        margin-left: 1.33rem;
        margin-bottom: .3rem;
    }

.room-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    flex: 1 1 calc(33.333% - 30px);
    max-width: calc(33.333% - 30px);
}

    .room-card.selected {
        background-color: #e0e0e0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .room-card h3 {
        margin: 0;
        color: #333;
    }

    .room-card p {
        margin: 5px 0;
        color: #666;
    }

.room-details {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.add-room {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: auto;
    margin-top: 2%;
    height: 34%;
    width: 40%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    align-content: center;
    text-align: center;
}

    .add-room h3 {
        text-align: center;
    }

    .add-room input {
        border: 0;
        border-bottom: 1px solid #1216D9;
        width: 75%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: .7em;
        padding: 7px 0;
        color: #1216D9;
        margin-bottom: 4%;
        outline: none;
    }

    .add-room input:first-child {
        margin-top: 3%;
    }

    .add-room button {
        padding: 10px;
        font-size: 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .add-room button:hover {
            background-color: #3395FF;
        }

        .add-room button:active {
            background-color: #007AFF;
        }
