.sidebar {
    height: 100%;
    width: 220px;
    position: relative;
    background-color: #f4f4f9;
    padding: 1.5rem;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    float: left;
}

.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 0.8rem 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: #0016c2;
}
